<!DOCTYPE html>
<html>
  <head>
    <title>Global Aircond</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="../../assets/images/logo.webp" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/top_header', company: @company %>
    <%= render 'layouts/navbar', current_user: current_user %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/footer', company: @company %>

    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  </body>
</html>
